:root {
  --primary-color: #222222;
  --secondary-color: #ece7ee;
  --neutral-color: #e9a95b;
  --neutral-color--brighter: #f0c796;
}

body {
  background-color: var(--neutral-color);
  font-family: "Orbitron", Lato, "PT Sans", -apple-system, BlinkMacSystemFont,
    Roboto, Ubuntu, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
}

.main__header {
  font-size: 1.9rem;
  font-weight: 900;
  margin: 2rem;
}

.table__text-header {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 3rem;
}

.table__header {
  font-size: 1.3rem;
  font-weight: 700;
}

.table {
  border-collapse: collapse;
  border-spaceing: 0.5rem;
  margin: 2rem auto;
  text-align: center;
  width: 80vw;
}

.footer__row,
.row:nth-of-type(2n) {
  background-color: var(--neutral-color--brighter);
}

.header__cell,
.row,
.table__totals,
.body__cell {
  border: 1px solid var(--secondary-color);
  padding: 0.5rem;
}

@media screen and (min-width: 22rem) {
  .wrapper {
    width: 70%;
  }
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
div,
p,
button {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}
