:root {
  --primary-color: #222222;
  --secondary-color: #ece7ee;
  --neutral-color: #e9a95b;
  --neutral-color--brighter: #f0c796;
}

body {
  background-color: var(--neutral-color);
  font-family: "Orbitron", Lato, "PT Sans", -apple-system, BlinkMacSystemFont,
    Roboto, Ubuntu, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
}

.main__header {
  font-size: 1.9rem;
  font-weight: 900;
  margin: 2rem;
}

.new-entity-form {
  text-align: center;
}

.new-entity-form__container {
  background-color: var(--neutral-color--brighter);
  margin: 0 auto;
  padding: 3rem 3rem 1rem;
}

.new-entity-form__body {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.new-entity-form__label {
  font-weight: 700;
  padding-right: 0.5rem;
  text-align: left;
}

.new-entity-form__submit {
  font-size: 1.2rem;
  font-weight: 400;
  height: 3.6rem;
  margin: 1.3rem auto;
  text-transform: inherit;
  width: 100%;
}

.new-entity-form__input {
  background-color: var(--secondary-color);
  border: none;
  box-shadow: none;
  font-family: inherit;
  font-size: 1rem;
  height: 2.4em;
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
}
.new-entity-form__label--size-m {
  flex: 1 1 24%;
}
.new-entity-form__input--size-l {
  flex: 2 2 75%;
}

.new-entity-form__header,
.table__text-header {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 2rem;
}

.table__header {
  font-size: 1.3rem;
  font-weight: 700;
}

.table {
  border-collapse: collapse;
  border-spaceing: 0.5rem;
  margin: 2rem auto;
  text-align: center;
  width: 80vw;
}

.footer__row,
.row:nth-of-type(2n) {
  background-color: var(--neutral-color--brighter);
}

.header__cell,
.row,
.table__totals,
.body__cell {
  border: 1px solid var(--secondary-color);
  padding: 0.5rem;
}

@media screen and (min-width: 35em) {
  .new-entity-form__container {
    width: 35rem;
  }
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}
