:root {
  --primary-color: salmon;
  --primary-color--darker: rgb(155, 35, 22);
  --secondary-color: #222;
  --secondary-color--brighter: rgba(34, 34, 34, 0.842);
  --neutral-color: #fff;
  --neutral-color--brighter: #f0c796;
}

body {
  background-color: var(--neutral-color);
  color: var(--secondary-color);
  font-family: "Exo 2", "Orbitron", Lato, "PT Sans", -apple-system,
    BlinkMacSystemFont, Roboto, Ubuntu, "Droid Sans", "Helvetica Neue", Arial,
    sans-serif;
  font-size: 1rem;
}

.header__wrapper {
  text-align: center;
  width: 100%;
}

.main {
  width: 90vw;
  margin: 1em auto;
}
.main__header {
  color: var(--primary-color--darker);
  display: inline-block;
  font-size: 1.4em;
  font-weight: 700;
  font-family: "Merriweather", serif;
  line-height: 1;
  margin: 0;
  padding: 1em;
  position: relative;
  text-align: center;
}
.main__header:before,
.main__header:after {
  background-color: var(--primary-color);
  content: "";
  height: 0.1em;
  position: absolute;
  top: 1.5em;
  width: 60%;
}

.main__address:before {
  right: 10.5em;
}
.main__address:after {
  left: 10.5em;
}

.main__mission:before {
  right: 7.6em;
}
.main__mission:after {
  left: 7.6em;
}

.main__merchandise:before {
  right: 8em;
}
.main__merchandise:after {
  left: 8em;
}

.main__about:before {
  right: 6em;
}
.main__about:after {
  left: 6em;
}

.teaser__header {
  font-size: 1.9em;
  font-weight: 900;
  margin: 2rem;
  text-align: center;
}
.teaser__description {
  margin: 0.3em auto;
  text-align: center;
  width: 90vw;
}
.teaser__picture {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  border: 2px solid var(--primary-color);
  flex: 0 0 45%;
  margin: 0.3em;
  min-width: 10em;
  padding: 0.5em;
  display: block;
  position: relative;
}
.card::after {
  content: "";
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.card--odd::after {
  background: url("../img/fish.jpg");
}
.card--even::after {
  background: url("../img/frosted-cookie.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card__header {
  font-family: "Playfair Display", serif;
  font-size: 1.3em;
  padding-bottom: 0.6em;
  padding-top: 0.2em;
}
.card__address,
.card__hours {
  font-family: "Oswald", sans-serif;
  padding-bottom: 0.4em;
  padding-top: 0.2em;
}
.media__object {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  min-height: 10em;
}
.media__image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: -1px 0px 14px -2px var(--secondary-color);
  flex: 1 1 30%;
}
.media__text {
  color: var(--secondary-color--brighter);
  font-family: "Playfair Display", serif;
  font-family: "Merriweather", serif;
  flex: 1 1 70%;
  padding: 0.7em;
}

.mission__image {
  background-image: url("../img/family.jpg");
}
.merchandise__image {
  background-image: url("../img/shirt.jpg");
}
.about__image {
  background-image: url("../img/cutter.jpeg");
}

.footer {
}

.footer__picture {
  display: block;
  height: auto;
  margin: 2em auto;
  max-width: 200px;
  width: 100%;
}
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

/* * {
  outline: 1px solid red;
} */
